.header {
	position: sticky;
	top: 0;
	display: flex;
	justify-content: space-between;
	height: var(--header-height);
	padding: 0 48px;
	z-index: 11;
	transition: height 0.3s ease-out;
	background: var(--contrast-background);
	border-bottom: 1px solid var(--lines);
	width: 100%;
  
	svg {
	  height: 100%;
	  position: relative;
	  display: block;
	}
  
	@media (max-width: 1440px) {
	  height: var(--header-sticky-height);
	  padding: 0 24px;
	}
	@media (max-width: 768px) {
	  height: var(--header-sticky-height);
	  padding: 0 12px;
	}

	.navigation {
		display: flex;
		position: relative;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		margin-left: 46px;
		z-index: 999;
	  
		ul {
		  display: flex;
		  flex-direction: row;
		  align-items: center;
		  gap: 8px;
		}
		ul, li {
		  margin: 0;
		  padding: 0;
		  list-style: none;
		}
	  
		a {
		  padding: 0 8px;
		}
	  
		
	  }
	  .active {
		  color: black;
		  font-weight: 500;
		  text-decoration: underline;
	  }
	  .navigation {
		@media screen and (max-width: 960px) {
		  background: var(--contrast-background);
		  position: fixed;
		  overflow: hidden;
		  width: 100%;
		  top: var(--header-sticky-height);
		  margin-left: 0;
		  left: 0;
		  height: 0;
		  align-items: flex-start;
		  transition: height 0.2s ease-out;
	  
		  &.open {
			height: 100dvh;
		  }
		  ul {
			flex-direction: column;
			justify-content:center;
			width: 100%;
			padding-top: 48px;
		  }
	  
		  li {
			width: 100%;
		  }
	  
		  a {
			display: block;
			font-size: large;
			text-align: center;
			
			padding: 16px 0;
		  }

		  a:hover {
			color: white;
			background-color: var(--dark-text);
		  }
	  
		  span {
			font-size: large;
		  }
		}
	  
	  }
  
  }
  .wrapper {
	display: flex;
	justify-content: space-between;
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
  }
  .sticky {
	
	&.header {
	  height: var(--header-sticky-height);
	  padding: 0 48px;
	  border-bottom: 1px solid var(--lines);
	  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  
	  @media (max-width: 1440px) {
		height: var(--header-sticky-height);
		padding: 0 24px;
	  }
	  @media (max-width: 768px) {
		height: var(--header-sticky-height);
		padding: 0 12px;
	  }
	}
  }
  
  
  
  
  .buttonGroup {
	display: flex;
	flex-direction: row;
	gap: 0;
	
	a:last-child {
	  padding-right: 0;
	}
  }
  
  @media screen and (max-width: 960px) {
	.buttonGroup {
	  flex-direction: column;
	  width: 100%;
	  gap: 8px;
	  a:last-child {
		padding-right: 8px;
	  }
	}
	
  }
  
  .isDevice {
	display: flex;
	@media screen and (min-width: 960px) {
	  display: none;
	}
  }
  .isDesktop {
	display: flex;
	@media screen and (max-width: 960px) {
	  display: none;
	}
  }